pathos==0.2.6
numpy==1.20.2
pandas==1.2.3
pdf2image==1.14.0
PyQt5==5.15.1
PyQtWebEngine==5.15.1
pytesseract==0.3.6
qtawesome==1.0.1
beautifulsoup4==4.9.3
playwright==1.10.0
aiofiles==0.6.0
aiohttp==3.7.4.post0
html5lib==1.1
tqdm==4.59.0
pdfminer.six==20201018
networkx==2.5
flata==5.0.0
striprtf==0.0.12
requests==2.25.1
playwright-stealth==1.0.5
